.input-holder p {
  position: absolute;
  left: 10px;
  top: -2px;
  background-color: white;
  padding: 0 2px;
  height: 8px;
  font-size: 14px;
  text-align: center;
  line-height: 5px;
  color: #6c6c64;
  font-size: 12px;
}
.input-holder span {
  margin-left: 1px;
  color: #d35400;
}
.input-holder {
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.input-holder button {
  color: #6c6c64;
  padding: 0 10px;
  border: none;
}
.input-holder input {
  border-radius: 14px;
  border: none;
  flex: 1;
  outline: none;
  height: 40px;
  padding: 0 10px;
}
